<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952983452947-phk9ejp6c5dpdh76dffsth5i7rthm9n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952983452947-phk9ejp6c5dpdh76dffsth5i7rthm9n2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSu0bvzOH8Jr1gFIwz2jqvUTOgFlIh5wY</string>
	<key>GCM_SENDER_ID</key>
	<string>952983452947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salihkocatu-rk.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-b1912</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-b1912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952983452947:ios:7bf952d476e349888aeee6</string>
</dict>
</plist>